# Exclude dependencies
node_modules
**/node_modules

# Exclude build files
dist
**/dist
.next
**/.next
out
**/out

# Exclude IDE and system files
.git
.gitignore
.vscode
.idea
.DS_Store
*.md

# Exclude logs
*.log
npm-debug.log*

# Exclude local envs
.env
.env.local
